In [1]:
import pandas as pd

In [2]:
# Creating Series from list
s = pd.Series([10, 20, 30, 40], index=["a", "b", "c", "d"])
s

a    10
b    20
c    30
d    40
dtype: int64

In [3]:
# Accessing elements
print("Access by label:", s.loc["b"])
print("Access by position:", s.iloc[1])

Access by label: 20
Access by position: 20

In [4]:
# DataFrame from dictionary
data = {
    "Name": ["Alice", "Bob", "Charlie", "David", "Eva"],
    "Age": [20, 21, 19, 22, 20],
    "Marks": [85, 90, 78, 92, 88],
    "City": ["Delhi", "Mumbai", "Pune", "Chennai", "Kolkata"]
}

df = pd.DataFrame(data)
df

      Name  Age  Marks     City
0    Alice   20     85    Delhi
1      Bob   21     90   Mumbai
2  Charlie   19     78     Pune
3    David   22     92  Chennai
4      Eva   20     88  Kolkata

In [3]:
from sklearn.datasets import load_iris

df = load_iris(as_frame=True)  
df = df.frame   # Convert to pandas DataFrame

In [15]:
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

BASIC EDA

In [18]:
df.head(10)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
5,5.4,3.9,1.7,0.4,0
6,4.6,3.4,1.4,0.3,0
7,5.0,3.4,1.5,0.2,0
8,4.4,2.9,1.4,0.2,0
9,4.9,3.1,1.5,0.1,0

In [18]:
df.columns

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)', 'target'],
      dtype='object')

In [21]:
df.shape      # rows and columns

(150, 5)

In [22]:
df.info()     # data types

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   target             150 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 6.0 KB

In [23]:
df.describe() # summary statistics

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333,1.000000
std,0.828066,0.435866,1.765298,0.762238,0.819232
min,4.300000,2.000000,1.000000,0.100000,0.000000
25%,5.100000,2.800000,1.600000,0.300000,0.000000
50%,5.800000,3.000000,4.350000,1.300000,1.000000
75%,6.400000,3.300000,5.100000,1.800000,2.000000
max,7.900000,4.400000,6.900000,2.500000,2.000000

In [25]:
df['target'].value_counts()    # count per species

target
0    50
1    50
2    50
Name: count, dtype: int64

In [20]:
df.isna().sum()

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
target               0
dtype: int64

In [5]:
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [30]:
# selection with loc and iloc

print(df.loc[0, 'sepal length (cm)'])    # first row, specific column

print(df.iloc[0, 0])                     # same as above

5.1
5.1

In [6]:
# Selecting multiple rows/columns
df.loc[0:4, ['sepal length (cm)', 'target']]   #unlike Python slicing with lists, loc includes the end value

   sepal length (cm)  target
0                5.1       0
1                4.9       0
2                4.7       0
3                4.6       0
4                5.0       0

In [8]:
# FILTERING
# Filter rows where sepal length > 7
df[df['sepal length (cm)'] > 7]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
102,7.1,3.0,5.9,2.1,2
105,7.6,3.0,6.6,2.1,2
107,7.3,2.9,6.3,1.8,2
109,7.2,3.6,6.1,2.5,2
117,7.7,3.8,6.7,2.2,2
118,7.7,2.6,6.9,2.3,2
122,7.7,2.8,6.7,2.0,2
125,7.2,3.2,6.0,1.8,2
129,7.2,3.0,5.8,1.6,2
130,7.4,2.8,6.1,1.9,2
131,7.9,3.8,6.4,2.0,2
135,7.7,3.0,6.1,2.3,2

In [10]:
# Filter rows of species 1
df[df['target'] == 1].head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
50,7.0,3.2,4.7,1.4,1
51,6.4,3.2,4.5,1.5,1
52,6.9,3.1,4.9,1.5,1
53,5.5,2.3,4.0,1.3,1
54,6.5,2.8,4.6,1.5,1

In [47]:
# AGGREGATION
# Mean sepal length per species
df.groupby('target')['sepal length (cm)'].mean()

target
0    5.006
1    5.936
2    6.588
Name: sepal length (cm), dtype: float64

In [53]:
# SORTING
# Sort by sepal length
df.sort_values(by='sepal length (cm)', ascending=False).head(10)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
131,7.9,3.8,6.4,2.0,2
135,7.7,3.0,6.1,2.3,2
122,7.7,2.8,6.7,2.0,2
117,7.7,3.8,6.7,2.2,2
118,7.7,2.6,6.9,2.3,2
105,7.6,3.0,6.6,2.1,2
130,7.4,2.8,6.1,1.9,2
107,7.3,2.9,6.3,1.8,2
125,7.2,3.2,6.0,1.8,2
109,7.2,3.6,6.1,2.5,2

In [12]:
# Calculate sepal area (length × width)
df['sepal area'] = df['sepal length (cm)'] * df['sepal width (cm)']
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,sepal area
0,5.1,3.5,1.4,0.2,0,17.85
1,4.9,3.0,1.4,0.2,0,14.70
2,4.7,3.2,1.3,0.2,0,15.04
3,4.6,3.1,1.5,0.2,0,14.26
4,5.0,3.6,1.4,0.2,0,18.00

In [13]:
# Write DataFrame to CSV
df.to_csv("iris.csv", index=False)

In [57]:
# Read CSV file in same folder
df_csv = pd.read_csv("iris.csv")
df_csv.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,sepal area
0,5.1,3.5,1.4,0.2,0,17.85
1,4.9,3.0,1.4,0.2,0,14.70
2,4.7,3.2,1.3,0.2,0,15.04
3,4.6,3.1,1.5,0.2,0,14.26
4,5.0,3.6,1.4,0.2,0,18.00

In [2]:
# Read CSV file from any folder
df_csv = pd.read_csv("/Users/blossomkaler/Downloads/archive/Iris.csv")
df_csv.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa